doctype html 
html(lang='en')
  head
    title Stats Page
    link(rel="icon" type="image/png" href="../../public/favicon.ico")
    link(href="../../stats.css" rel="stylesheet" type="text/css")

  body
  div.container
    h1.title Stats For The littleLink:
    table.table
      tr
        th  Original Url:
        th  Short Url:
        th  Creation Date:
        th  Times Used:
      each data in datas
        tr
          td= data.originUrl 
          td= data.shortUrl
          td= data.creationDate
          td= data.redirectCount
