* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 10px;
    background: cornsilk;
}

h1 {
    font-size: 3rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80vh;
    margin: auto;
}

.table {
    font-size: 1.8rem;
    line-height: 1.5;
}